<!-- Composant Date Info -->
<div class="card-header">
    <i class="fas fa-microchip me-2"></i> Date
</div>
<div class="card">
    <div class="card-body" id="date-info">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h4 class="mb-0" id="current-date">lundi 5 mai 2025</h4>
                <div class="text-muted" id="saint-name">Aujourd'hui nous fêtons: Sainte Judith, Saint Ange</div>
            </div>
            <div class="info-badge">
                <i class="fas fa-calendar-day me-2"></i>
                <span id="time-now">16:01:48</span>
            </div>
        </div>
    </div>
</div>